<h1> Listing the Articles </h1>

<!-- Creating a link between (List page aka index & page to create new article) and nameing it Create New Article -->

<p>
<%= link_to "Create New Article", new_article_path %>
</p>



<table>
  
  <tr>
  <th>ID</th> 
  <th>Title</th>
  <th>Description</th>
  </tr>

  <% @articles.each do |article| %>
  
  <tr>
    <td><%= article.id %></td>
    <td align="center"><%= article.title %></td>
    <td align="center"><%= article.description %></td>
    <!-- (article) it defines the parameter used in the do statment which is for indavidule value of the queue -->
    <td align="center"><%= link_to 'Edit', edit_article_path(article) %></td>
    <td align="center"><%=link_to 'Show', article_path(article) %></td>
    </tr>
    <% end %>
</table>